@import '../mixin/media';

$list-width: 280px;

.page {
  width: 100%;
  height: 100%;
  padding: 30px 5% 0;
  overflow-y: scroll;

  .page-wrap {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .md-list {
      width: $list-width;
      min-width: $list-width;
    }
  }
}

@include mob-large {
  .page {
    padding-top: 50px;
  }
}
