@import '../utils/variables';

.logo-wrap {
  width: auto;
  height: 50px;
  line-height: 50px;

  h1 {
    margin: 0;
    color: $major-color;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 0.0125rem;
    user-select: none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  h1:hover {
    transform: translate(0, -2px);
  }
}
