@import '../mixin/media';

.blog-group--header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 1.4rem;
  color: #4257f2;
}

.blog-group--txt {
  width: 100%;
  height: auto;
  line-height: 160%;
  font-weight: normal;
  font-size: 1rem;
  color: #24292e;
  text-align: justify;
}
