.flex-container
  display: flex
  height: 100%

.flex-center-sort
  justify-content: center
  align-items: center

.flex-between-sort
  justify-content: space-between
  align-items: center

.flex-around-sort
  justify-content: space-around
  align-items: center

.flex-row
  flex-direction: row

.flex-column
  flex-direction: column

.md-section
  //margin: 0 auto
  width: 100%
  //min-width: 300px
  //min-width: 500px
  padding: 30px
  overflow-y: scroll
